update "Activity"
set "ActivityNameFr" = trim(french)
from translation
where "ActivityNameEn" = trim(english);

update "Indicator"
set "IndicatorNameFr" = trim(french)
from translation
where "IndicatorNameEn" = trim(english);

update "IndicatorGroup"
set "IndicatorGroupNameFr" = trim(french)
from translation
where "IndicatorGroupNameEn" = trim(english);

update "LifeCourse"
set "LifeCourseNameFr" = trim(french)
from translation
where "LifeCourseNameEn" = trim(english);

update "Measure"
set "MeasureAdditionalRemarksFr" = trim(french)
from translation
where "MeasureAdditionalRemarksEn" = trim(english);

update "Measure"
set "MeasureDataAvailableFr" = trim(french)
from translation
where "MeasureDataAvailableEn" = trim(english);

update "Measure"
set "MeasureDefinitionFr" = trim(french)
from translation
where "MeasureDefinitionEn" = trim(english);

update "Measure"
set "MeasureMethodFr" = trim(french)
from translation
where "MeasureMethodEn" = trim(english);

update "Measure"
set "MeasureSourceLongFr" = trim(french)
from translation
where "MeasureSourceLongEn" = trim(english);

update "Measure"
set "MeasureSourceShortFr" = trim(french)
from translation
where "MeasureSourceShortEn" = trim(english);

update "Measure"
set "MeasureUnitLongFr" = trim(french)
from translation
where "MeasureUnitLongEn" = trim(english);

update "Measure"
set "MeasureUnitShortFr" = trim(french)
from translation
where "MeasureUnitShortEn" = trim(english);

update "Measure"
set "MeasureNameDataToolFr" = trim(french)
from translation
where "MeasureNameDataToolEn" = trim(english);

update "Measure"
set "MeasureNameIndexFr" = trim(french)
from translation
where "MeasureNameIndexEn" = trim(english);

update "Measure"
set "MeasurePopulationGroupFr" = trim(french)
from translation
where "MeasurePopulationGroupEn" = trim(english);

update "Point"
set "PointLabelFr" = trim(french)
from translation
where "PointLabelEn" = trim(english);

update "Point"
set "PointTextFr" = trim(french)
from translation
where "PointTextEn" = trim(english);

update "Strata"
set "StrataNameFr" = trim(french)
from translation
where "StrataNameEn" = trim(english);

update "Strata"
set "StrataNotesFr" = trim(french)
from translation
where "StrataNotesEn" = trim(english);

update "Strata"
set "StrataPopulationTitleFragmentFr" = trim(french)
from translation
where "StrataPopulationTitleFragmentEn" = trim(english);
update "Strata"

set "StrataSourceFr" = trim(french)
from translation
where "StrataSourceEn" = trim(english);