@{
    Layout = "_Layout.cshtml";
    string language = i18nTransformer.Culture;
}

<div class="row">
    <div class="col-sm-12">
                @switch (language) {
                    case "en-ca":
                        @:<h2>Data Blog</h2>
                        break;
                    case "fr-ca":
                        @:<h2>Blogue de Données</h2>
                        break;
                }
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <section class="hght-inhrt">				
            <figure class="thumbnail hght-inhrt">
                @switch (language) {
                    case "en-ca":
                        @:<a href="https://health-infobase.canada.ca/datalab/pass-blog.html">
                        @:<img src="https://health-infobase.canada.ca/img/workout.png" alt="Physical Activity, Sedentary Behaviour, and Sleep (PASS): A New Way of Tracking Healthy Daily Activity"></a>
                        @:<figcaption class="caption">
                            @:<h4>Physical Activity, Sedentary Behaviour, and Sleep (PASS): A New Way of Tracking Healthy Daily Activity</h4>
                            @:<p>We live our days on a 24 hour cycle. Most of that time is spent in intervals of physical activity, sedentary behaviour (like sitting and screen time) and sleeping. As such, the Public Health Agency of Canada (PHAC) recognized that it needed to modernize how it monitors the physical activity levels of Canadians...</p>
                            @:<a href="https://health-infobase.canada.ca/datalab/pass-blog.html"><button class="btn btn-primary">View</button></a>
                        @:</figcaption>
                        break;
                    case "fr-ca":
                        @:<a href="https://sante-infobase.canada.ca/labo-de-donnees/blogue-APCSS.html">
                        @:<img src="https://health-infobase.canada.ca/img/workout.png" alt="Activité physique, comportement sédentaire et sommeil (APCSS) : Une nouvelle façon de suivre les activités saines au quotidien"></a>
                        @:<figcaption class="caption">
                            @:<h4>Activité physique, comportement sédentaire et sommeil (APCSS) : Une nouvelle façon de suivre les activités saines au quotidien</h4>
                            @:<p>Nos vies se déroulent suivant un cycle de 24 heures, qui se compose habituellement de périodes d’activité physique, de comportement sédentaire (temps passé assis et devant un écran, entre autres) et de sommeil. C’est pourquoi l’Agence de la santé publique du Canada (ASPC) en est venue à la conclusion qu’elle devait moderniser sa façon de...</p>
                            @:<a href="https://sante-infobase.canada.ca/labo-de-donnees/blogue-APCSS.html"><button class="btn btn-primary">Afficher</button></a>
                        @:</figcaption>
                        break;
                }
            </figure>
        </section>
    </div>
    <div class="col-md-6">
        <section class="hght-inhrt">				
            <figure class="thumbnail hght-inhrt">
                @switch (language) {
                    case "en-ca":
                        @:<a href="https://health-infobase.canada.ca/datalab/sedentary-measurement-blog.html">
                        @:<img src="https://health-infobase.canada.ca/img/sitting1.png" alt="What is sedentary behaviour and how do we measure it?"></a>
                        @:<figcaption class="caption">
                            @:<h4>What is sedentary behaviour and how do we measure it?</h4>
                            @:<p>The Public Health Agency of Canada (PHAC) reports on a range of indicators related to Canadians’ physical activity, sedentary behaviour and sleep habits. These indicators are organized in a framework called the Physical Activity, Sedentary behaviour and Sleep (PASS) Indicator Framework...</p>
                            @:<a href="https://health-infobase.canada.ca/datalab/sedentary-measurement-blog.html"><button class="btn btn-primary">View</button></a>
                        @:</figcaption>
                        break;
                    case "fr-ca":
                        @:<a href="https://sante-infobase.canada.ca/labo-de-donnees/blogue-mesure-comportement-sedentaire.html">
                        @:<img src="https://health-infobase.canada.ca/img/sitting1.png" alt="Qu’est ce qu’un comportement sédentaire et comment le mesure-t-on?"></a>
                        @:<figcaption class="caption">
                            @:<h4>Qu’est ce qu’un comportement sédentaire et comment le mesure-t-on?</h4>
                            @:<p>L’Agence de la santé publique du Canada (ASPC) produit des rapports sur divers indicateurs associés aux habitudes des Canadiens en matière d’activité physique, de comportement sédentaire et de sommeil. Ces indicateurs ont été regroupés dans le Cadre conceptuel de l'activité physique, du comportement sédentaire et du sommeil (APCSS)...</p>
                            @:<a href="https://sante-infobase.canada.ca/labo-de-donnees/blogue-mesure-comportement-sedentaire.html"><button class="btn btn-primary">Afficher</button></a>
                        @:</figcaption>
                        break;
                }
            </figure>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
                @switch (language) {
                    case "en-ca":
                        @:<h2>Infographics</h2>
                        break;
                    case "fr-ca":
                        @:<h2>Infographiques</h2>
                        break;
                }
        
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <section class="hght-inhrt">				
            <figure class="thumbnail hght-inhrt">
                @switch (language) {
                    case "en-ca":
                        @:<a href="https://www.canada.ca/en/public-health/services/publications/healthy-living/canadian-children-getting-enough-sleep-infographic.html">
                        @:<img style="" src="/img/pass-sleep-children-thumbnail-en.png" alt="Are Canadian children getting enough sleep?"></a>
                        @:<figcaption class="caption">
                            @:<h4>Are Canadian children getting enough sleep?</h4>
                            @:<p>17.2% of children that get insufficient sleep report hyperactivity compared to 11.9% of children who get adequate sleep.</p>
                            @:<a href="https://www.canada.ca/en/public-health/services/publications/healthy-living/canadian-children-getting-enough-sleep-infographic.html"><button class="btn btn-primary">View</button></a>
                        @:</figcaption>
                        break;
                    case "fr-ca":
                        @:<a href="https://www.canada.ca/fr/sante-publique/services/publications/vie-saine/enfants-canadiens-dorment-suffisamment-infographique.html">
                        @:<img style="" src="/img/pass-sleep-children-thumbnail-fr.png" alt="Les enfants Canadiens dorment-ils suffisamment?"></a>
                        @:<figcaption class="caption">
                            @:<h4>Les enfants Canadiens dorment-ils suffisamment?</h4>
                            @:<p>17,2% des enfants qui ont de sommeil insuffisant rapportent hyperactivité comparativement à 11,9% des enfants qui ont de sommeil adéquat...</p>
                            @:<a href="https://www.canada.ca/fr/sante-publique/services/publications/vie-saine/enfants-canadiens-dorment-suffisamment-infographique.html"><button class="btn btn-primary">Afficher</button></a>
                        @:</figcaption>
                        break;
                }
                
            </figure>
        </section>
    </div>
    <div class="col-md-6">
        <section class="hght-inhrt">				
            <figure class="thumbnail hght-inhrt">
                @switch (language) {
                    case "en-ca":
                        @:<a href="https://www.canada.ca/en/public-health/services/publications/healthy-living/canadian-adults-getting-enough-sleep-infographic.html">
                        @:<img style="" src="/img/pass-sleep-adults-thumbnail-en.png" alt="Are Canadian adults getting enough sleep?"></a>
                        @:<figcaption class="caption">
                            @:<h4>Are Canadian adults getting enough sleep?</h4>
                            @:<p>Adults who get insufficient sleep report an average of 4.0 hours of sedentary time a day compared to an average of 3.5 hours for adults who get adequate sleep...</p>
                            @:<a href="https://www.canada.ca/en/public-health/services/publications/healthy-living/canadian-adults-getting-enough-sleep-infographic.html"><button class="btn btn-primary">View</button></a>
                        @:</figcaption>
                        break;
                    case "fr-ca":
                        @:<a href="https://www.canada.ca/fr/sante-publique/services/publications/vie-saine/adultes-canadiens-dorment-suffisamment-infographique.html">
                        @:<img style="" src="/img/pass-sleep-adults-thumbnail-fr.png" alt="Les adultes canadiens dorment-ils suffisamment?"></a>
                        @:<figcaption class="caption">
                            @:<h4>Les adultes canadiens dorment-ils suffisamment?</h4>
                            @:<p>Les adultes qui ont un sommeil insuffisant révèlent une moyenne de 4,0 heures de temps de sédentarité comparé à une moyenne de 3,5 heures pour les adultes qui ont un sommeil adéquat...</p>
                            @:<a href="https://www.canada.ca/fr/sante-publique/services/publications/vie-saine/adultes-canadiens-dorment-suffisamment-infographique.html"><button class="btn btn-primary">Afficher</button></a>
                        @:</figcaption>
                        break;
                }
                
            </figure>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h2>Publications</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <section class="hght-inhrt">				
            <figure class="thumbnail hght-inhrt">
                @switch (language) {
                    case "en-ca":
                        @:<a href="https://www.canada.ca/en/public-health/services/reports-publications/health-promotion-chronic-disease-prevention-canada-research-policy-practice/vol-39-no-5-2019/conceptualizing-framework-for-surveillance-physical-activity-sedentary-behaviour-and-sleep.html">
                        @:<img style="" src="/img/pass-publication-thumbnail-en.png" alt="At-a-glance – Conceptualizing a framework for the surveillance of physical activity, sedentary behaviour and sleep in Canada"></a>
                        @:<figcaption class="caption">
                            @:<h4>At-a-glance – Conceptualizing a framework for the surveillance of physical activity, sedentary behaviour and sleep in Canada</h4>
                            @:<p>The Public Health Agency of Canada (PHAC) has modernized its approach to physical activity surveillance by broadening its scope to include sedentary behaviour and sleep. The first step was to develop a conceptual framework which covers the full spectrum of physical movement from moderate-to-vigorous intensity...</p>
                            @:<a href="https://www.canada.ca/en/public-health/services/reports-publications/health-promotion-chronic-disease-prevention-canada-research-policy-practice/vol-39-no-5-2019/conceptualizing-framework-for-surveillance-physical-activity-sedentary-behaviour-and-sleep.html"><button class="btn btn-primary">View</button></a>
                        @:</figcaption>
                        break;
                    case "fr-ca":
                        @:<a href="https://www.canada.ca/fr/sante-publique/services/rapports-publications/promotion-sante-prevention-maladies-chroniques-canada-recherche-politiques-pratiques/vol-39-no-5-2019/conceptualisation-cadre-surveillance-activite-physique-comportement-sedentaire-et-sommeil.html">
                        @:<img style="" src="/img/pass-publication-thumbnail-fr.png" alt="Aperçu – Conceptualisation d'un cadre de surveillance de l'activité physique, du comportement sédentaire et du sommeil au Canada"></a>
                        @:<figcaption class="caption">
                            @:<h4>Aperçu – Conceptualisation d'un cadre de surveillance de l'activité physique, du comportement sédentaire et du sommeil au Canada</h4>
                            @:<p>L’Agence de la santé publique du Canada a modernisé son approche en matière de surveillance de l’activité physique en élargissant la portée de cette dernière de façon à englober le comportement sédentaire et le sommeil. La première étape a consisté à élaborer un cadre conceptuel couvrant toute la gamme de l’activité...</p>
                            @:<a href="https://www.canada.ca/fr/sante-publique/services/rapports-publications/promotion-sante-prevention-maladies-chroniques-canada-recherche-politiques-pratiques/vol-39-no-5-2019/conceptualisation-cadre-surveillance-activite-physique-comportement-sedentaire-et-sommeil.html"><button class="btn btn-primary">Afficher</button></a>
                        @:</figcaption>
                        break;
                }
                
            </figure>
        </section>
    </div>
</div>
