@using Models.Metadata
@using System.Linq
@model IEnumerable<dynamic>
@{
    Layout = "_Layout.cshtml";
    
    // Due to the life course not being at the root of the tree, it is necessary to employ some hacks to work as if it were
    string language = ViewContext.RouteData.Values["language"].ToString();


}

    <div class="row">
        <p>Some text goes here</p>
    </div>
    <br>

@switch (language) {
            case "en-ca":
                @:<h2>Quick Stats Overview</h2>
                @:<p>For more information about each indicator, click on the categories below:</p>
                break;
            case "fr-ca":
                @:<h2>Statistiques rapides</h2>
	            @:<p>Vous pouvez obtenir des informations supplémentaires sur ces indicateurs en cliquant sur les catégories ci-dessous :</p>
                break;
        }

</div>
<div class="clearfix"></div>
<br/>
<div class="col-sm-12">
<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">Notes</h2>
    </div>
    <div class="panel-body small">
        <ul class="list-unstyled">
            <li><strong>Abbreviations:</strong> CCHS-Annual = Canadian Community Health Survey – Annual Component; CCHS-MH = Canadian Community Health Survey – Mental Health; CINS = Canadian Income Survey; HBSC = Health Behaviour in School-aged Children; CIS = Canadian Incidence Study of Reported Child Abuse and Neglect; CVS = Canadian Vital Statistics – Birth Database (excluding Quebec); eCHIRPP = electronic Canadian Hospital Injury Reporting and Prevention Program; GSS = General Social Survey; SYC-Child = Survey of Young Canadians – Child questionnaire ; SYC-MKP = Survey of Young Canadians – Most-Knowledgeable Person questionnaire; UCR = Uniform Crime Reporting Survey.</li>
            <li><strong>Note:</strong> “In development” refers to measures where their data source is currently not available or that more research is needed to identify a promising measure and data source.</li>
            <li><strong>GSS:</strong> The estimates in this indicator framework are consistent with those from the Family Violence in Canada: A statistical profile, 2015 report from Statistics Canada, which reports higher estimates than those from the guidelines for the Childhood Experiences of Violence Questionnaire (CEVQ). The first includes all positive responses to all child maltreatment questions. The latter includes all positive responses, except for two of the physical abuse subtypes (the less severe ones) and exposure to intimate partner violence if it occurred less than 3 times.</a></li>			
          
            </ul>
    </div>
</div>