@{
    Layout = "_Layout.cshtml";
    string language = ViewContext.RouteData.Values["language"].ToString();
}

<div class="row">
    <div class="col-sm-12">
                @switch (language) {
                    case "en-ca":
                        @:<h2>Data Blog</h2>
                        break;
                    case "fr-ca":
                        @:<h2>Blogue de Données</h2>
                        break;
                }
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <section class="hght-inhrt">				
            <figure class="thumbnail hght-inhrt">
                @switch (language)
                {
                    case "en-ca":
                        @:<a href="https://health-infobase.canada.ca/datalab/cm-diabetes-blog.html">
                        @:<img src="https://health-infobase.canada.ca/img/boygirl.png" alt="A Canadian look at the connection between childhood maltreatment and diabetes"></a>
                        @:<figcaption class="caption">
                            @:<h4>A Canadian look at the connection between childhood maltreatment and diabetes</h4>
                            @:<p>Child abuse may hurt the body for years after it ends. Reducing child abuse, then, will not only reduce immediate pain, injury and suffering, but may also improve adults’ long-term physical health. Child maltreatment, including physical and sexual abuse and...</p>
                            @:<a href="https://health-infobase.canada.ca/datalab/cm-diabetes-blog.html"><button class="btn btn-primary">View</button></a>
                        @:</figcaption>
                        break;

                    case "fr-ca":
                        @:< a href = ""https://sante-infobase.canada.ca/labo-de-donnees/blogue-maltraitance-diabete.html" >
                        @:< img src = "https://health-infobase.canada.ca/img/boygirl.png" alt = "Le lien entre la maltraitance envers les enfants et le diabète" ></ a >
                        @:< figcaption class="caption">
                            @:<h4>Un regard canadien sur le lien entre la maltraitance envers les enfants et le diabète</h4>
                            @:<p>Même une fois terminée, les séquelles de la maltraitance chez les enfants peuvent se manifester sur leurs corps pendant des années. Réduire la maltraitance envers les enfants ne permet pas seulement de réduire la douleur, les blessures et la souffrance immédiates qu’ils endurent, mais permet également d’améliorer leur santé physique à long terme, jusqu’à l’âge adulte...</p>
                            @:<a href="" https://sante-infobase.canada.ca/labo-de-donnees/blogue-maltraitance-diabete.html">< button class="btn btn-primary">Afficher</button></a>
                        @:</figcaption>
                        break;
                    }
            </figure>
        </section>
    </div>
</div>
<
<div class="row">
    <div class="col-sm-12">
        <h2>Publications</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <section class="hght-inhrt">				
            <figure class="thumbnail hght-inhrt">
                @switch (language) {
                    case "en-ca":
                        @:<a href="https://www.canada.ca/en/public-health/services/reports-publications/health-promotion-chronic-disease-prevention-canada-research-policy-practice/vol-39-no-5-2019/conceptualizing-framework-for-surveillance-physical-activity-sedentary-behaviour-and-sleep.html">
                        @:<img style="" src="/img/pass-publication-thumbnail-en.png" alt="At-a-glance – Conceptualizing a framework for the surveillance of physical activity, sedentary behaviour and sleep in Canada"></a>
                        @:<figcaption class="caption">
                            @:<h4>At-a-glance – Conceptualizing a framework for the surveillance of physical activity, sedentary behaviour and sleep in Canada</h4>
                            @:<p>The Public Health Agency of Canada (PHAC) has modernized its approach to physical activity surveillance by broadening its scope to include sedentary behaviour and sleep. The first step was to develop a conceptual framework which covers the full spectrum of physical movement from moderate-to-vigorous intensity...</p>
                            @:<a href="https://www.canada.ca/en/public-health/services/reports-publications/health-promotion-chronic-disease-prevention-canada-research-policy-practice/vol-39-no-5-2019/conceptualizing-framework-for-surveillance-physical-activity-sedentary-behaviour-and-sleep.html"><button class="btn btn-primary">View</button></a>
                        @:</figcaption>
                        break;
                    case "fr-ca":
                        @:<a href="https://www.canada.ca/fr/sante-publique/services/rapports-publications/promotion-sante-prevention-maladies-chroniques-canada-recherche-politiques-pratiques/vol-39-no-5-2019/conceptualisation-cadre-surveillance-activite-physique-comportement-sedentaire-et-sommeil.html">
                        @:<img style="" src="/img/pass-publication-thumbnail-fr.png" alt="Aperçu – Conceptualisation d'un cadre de surveillance de l'activité physique, du comportement sédentaire et du sommeil au Canada"></a>
                        @:<figcaption class="caption">
                            @:<h4>Aperçu – Conceptualisation d'un cadre de surveillance de l'activité physique, du comportement sédentaire et du sommeil au Canada</h4>
                            @:<p>L’Agence de la santé publique du Canada a modernisé son approche en matière de surveillance de l’activité physique en élargissant la portée de cette dernière de façon à englober le comportement sédentaire et le sommeil. La première étape a consisté à élaborer un cadre conceptuel couvrant toute la gamme de l’activité...</p>
                            @:<a href="https://www.canada.ca/fr/sante-publique/services/rapports-publications/promotion-sante-prevention-maladies-chroniques-canada-recherche-politiques-pratiques/vol-39-no-5-2019/conceptualisation-cadre-surveillance-activite-physique-comportement-sedentaire-et-sommeil.html"><button class="btn btn-primary">Afficher</button></a>
                        @:</figcaption>
                        break;
                }
                
            </figure>
        </section>
    </div>
</div>
