@model DescriptionPageModel
@{
    Layout = $"{i18nTransformer.LookupInvariant(Model.DatasetName)}/_Layout.cshtml";
    string language = i18nTransformer.Culture;
}


<h2>@Model.Title</h2>
<table class="table table-striped table-hover table-condensed table-bordered">
<tbody>
        @foreach (var attr in Model.MeasureAttributes) {
            <tr>
                <th>@attr.Name</th>
                <td>@attr.Body</td>
            </tr>
        }
</tbody></table>
@if (Model.Included) {
    <a class="btn btn-success" asp-route-page="data-tool" asp-route-index="@Model.Index">
        @switch (language) {
            case "en-ca":
                @:<span>Open in Data Tool</span>
                break;
            case "fr-ca":
                @:<span>Ouvrir dans l'outil de donnees</span>
                break;
        }
    </a>
}