@model Infobase.Models.ChartPageModel
@{
    Layout = "_Layout.cshtml";
    string edition = "2018";
}
<div id="root">

</div>
@Html.React("Components.App", new {}, clientOnly: true)
<script>
setTimeout(() => {
    //ReactDOM.render(React.createElement(Components.App), document.getElementById("root"));

}, 1000);
</script>