@model Infobase.Models.ChartPageModel
@{
    Layout = "_Layout.cshtml";
    string edition = "2018";
}
<div id="root">

</div>
<script>
setTimeout(() => {
    ReactDOM.render(React.createElement(Components.App), document.getElementById("root"));

}, 1000);
</script>